// Shared card styles
.card {
  border: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 6px 6px 9px var(--color-shadow),
             -6px -6px 9px var(--color-light);
  transition: all 100ms linear;

  &:hover {
    transform: scale(1.02);
    transition: all 100ms linear;
    box-shadow: 10px 10px 20px var(--color-shadow),
               -3px -3px 12px var(--color-light);
  }
}