@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #EA5857,
    ),
    'success': (
      'base': #3CB73C,
    ),
    'warning': (
      'base': #EDB612,
    ),
    'danger': (
      'base': #F9502A,
    ),
    'error': (
      'base': #F9502A,
    ),
    'info': (
      'base': #00D1E0,
    ),
  ),
  $font-size: (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 16px,
    'small': 14px,
    'extra-small': 13px,
  ),
  $menu: (
    'bg-color': var(--color-background),
    'hover-bg-color': var(--color-background),
  ),
  $card: (
    'bg-color': var(--color-background),
  ),
  $text-color: (
    'primary': var(--color-text),
  ),
  $pagination: (
    'bg-color': var(--color-background),
    'button-disabled-bg-color': var(--color-background),
  ),
  $input: (
    'bg-color': var(--color-background),
  ),
  $header: (
    'padding': 0,
    'height': 90px,
  ),
  $main: (
    'padding': 0,
  ),
  $footer: (
    'padding': 0,
    'height': 90px,
  ),
);
@use 'element-plus/theme-chalk/src/index.scss' as *;



.el-image-viewer__mask {
  background: #000000 !important;
  opacity: 1 !important;
}

.el-image-viewer__actions {
  opacity: 0.2 !important;
}

.el-image-viewer__actions:hover {
  opacity: 0.8 !important;
}

.el-image-viewer__close {
  opacity: 0.2 !important;
}

.el-image-viewer__close:hover {
  opacity: 0.8 !important;
}

.el-image-viewer__prev {
  left: 5px !important;
  top: auto !important;
  bottom: 8px !important;
  opacity: 0.2 !important;
}

.el-image-viewer__prev:hover {
  opacity: 0.8 !important;
}

.el-image-viewer__next {
  right: 5px !important;
  top: auto !important;
  bottom: 8px !important;
  opacity: 0.2 !important;
}

.el-image-viewer__next:hover {
  opacity: 0.8 !important;
}

.el-backtop:hover {
  --el-backtop-hover-bg-color: #fffaf9 !important;
}