@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #ea5857;
  transition: 0.4s;
}

h1 {
  font-size: 25px;
}

/* 为内部 absolute 定位的 header 和 footer 提供定位参考 */
.el-header {
  position: relative;
}
.el-footer {
  position: relative;
}
